.search-wrap {
  width: 80%;
  height: 80px;
  .search-left {
    display: inline-block;
  }
  .search-right {
    display: inline-block;
    position: relative;
    top: -6px;
  }
}
.album {
  width: 900px;
  img {
    width: 30%;
  }
  img:nth-child(3n)  {
    margin-right: 10%
  }
}
.banner {
  img {
    width: 1680px;
    height: 650px;
  }
}