.modal-component {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

}

.popup-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:rgba(0,0,0,0.4);
}

.modal-component .popup-fade-enter {
  animation: pop-fade-enter .25s ease-in both;
}

.modal-component .popup-fade-leave {
  animation: pop-fade-leave .2s ease-out both;
}

.popup-slide-enter {
  animation: pop-slide-enter .25s cubic-bezier(0,0,.2,1) both;
}

.popup-slide-leave {
  animation: pop-slide-leave .2s cubic-bezier(.4,0,1,1) both;
}

@keyframes pop-fade-enter {
  0% {
    background-color:rgba(0,0,0,0);
  }
}

@keyframes pop-fade-leave {
  100% {
    background-color:rgba(0,0,0,0);
  }
}

@keyframes pop-slide-enter {
  0% {
    transform: translateY(100%)
  }
}

@keyframes pop-slide-leave {
  to {
    transform: translateY(100%)
  }
}

.popup-container {
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 17px;
  border-radius: 20px 20px 0px 0px;
  transition: transform 200ms ease 100ms; 
}

.popup-container .popup-header {
  color: red;
  line-height: 60px;
  height: 60px;
  box-sizing: content-box;
  border-bottom: solid 10px #eee;
}

.popup-container .popup-body {
  opacity: 1;
  color: #000;
  line-height: 60px;
}